:root {
  /* Цвета */
  --basic-white: #ffffff;
  --basic-light-gray: #F2F2F2;
  --basic-gray: #888888;
  --light-gray: #BDBBBC;
  --filter-gray: #ABABAB;
  --very-light-gray: #A9A9A9;
  --background-gray: #EBEBEB;
  --filter-opacity-gray: rgba(171, 171, 171, 0.3);
  --medium-gray: #CACACA;
  --border-gray: #E5E5E5;
  --basic-very-light-gray: #EEEEEE;
  --basic-dark-gray: #333333;
  --basic-black: #000000;
  --black: #231F20;
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-very-dark-blue: #5496BD;
  --basic-opacity-black: rgba(0, 0, 0, 0.3);
  --basic-opacity-white: rgba(255, 255, 255, 0.9);
  --basic-big-opacity-white: rgba(255, 255, 255, 0.3);
  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --brown: #666666;
  --basic-very-dark-brown: #503E33;
  --main-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  --form-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  /* Шрифты */
  --font-family-basic: "PT Sans", "Arial", sans-serif;
  --font-size-small: 12px;
  --font-size-main: 14px;
  --font-size-big: 21px;
  --font-size-extra-big: 30px;
}

.page {
  height: 100%;
}

.page-body {
  background-color: var(--basic-light-gray);
  font-family: var(--font-family-basic);
  font-style: normal;
  font-size: var(--font-size-main);
  line-height: 1em;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  height: 100%;
}

.page-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--main-shadow);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Main navigation */

.main-navigation {
  position: relative;
  width: 100%;
  background-color: var(--basic-white);
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  list-style: none;
  font-weight: bold;
  line-height: 26px;
  margin: 0 72px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation__item {
  margin-left: 28px;
  padding-top: 14px;
  padding-bottom: 16px;
  min-width: 200px;
}

.site-navigation__item:nth-child(4n+1) {
  margin-left: 0;
}

.site-navigation__item:nth-child(4n+3),
.site-navigation__item:nth-child(4n+4):not(:nth-child(1)) {
  text-align: right;
}

.site-navigation__item:nth-child(4n+3) {
  margin-left: auto;
  padding-left: 150px;
}

.site-navigation__link {
  color: var(--basic-black);
}

.site-navigation__link--current {
  color: var(--basic-brown);
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: var(--basic-blue);
}

.site-navigation__link:active {
  color: var(--basic-opacity-black);
}


/* Main content */

.poster {
  background-color: var(--medium-gray);
  background-image: url(../img/sedona.jpg);
  background-size: cover;
  min-height: 509px;
  display: flex;
  justify-content: center;
  position: relative;
}

.poster::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 57px solid white;
  border-right: 600px solid transparent;
  position: absolute;
  left: 0;
  bottom: 0;
}

.poster::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 57px solid white;
  border-right: 350px solid transparent;
  position: absolute;
  left: 250px;
  bottom: 0;
}

.description {
  text-align: center;
  position: relative;
}

.description::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 57px solid white;
  border-left: 600px solid transparent;
  position: absolute;
  right: 0;
  top: -57px;
}

.description::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 57px solid white;
  border-left: 350px solid transparent;
  position: absolute;
  right: 250px;
  top: -57px;
}

.description__header {
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 26px;
  max-width: 470px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-top: 42px;
  margin-bottom: 31px
}

.description__content {
  line-height: 26px;
  margin-bottom: 50px;
}

.reasons-list,
.city-useful-list {
  list-style: none;
}

.reasons-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.reasons-list__item--left {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: url(../img/city.jpg);
  background-position-x: right;
  background-repeat: no-repeat;
}

.item-container {
  grid-column: 1/2;
  text-align: center;
  padding: 47px 42px 56px 43px;
}

.reasons-list__item--right {
  grid-column: 1 / -1;
  text-align: center;
  background-image: url(../img/devill_bridge.jpg);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-position-x: left;
  background-repeat: no-repeat;
}

.item-container--right {
  grid-column: -2 / -1;
}

.reasons-list__item:nth-of-type(n+3) {
  padding: 47px 68px 56px 68px;
  text-align: center;
}

.item-header {
  max-width: 160px;
  margin: 0 auto;
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 21px;
}

.item-number {
  margin-top: 25px;
  margin-bottom: 23px;
}

.item-content {
  margin: 0;
}

.item-content,
.item-number {
  line-height: 21px;
}

.reasons-list__item--left,
.reasons-list__item--right {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.reasons-list__item--gray {
  background-color: var(--basic-very-light-gray)
}

.city-useful-list {
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.city-useful-list__item {
  text-align: center;
  padding: 160px 52px 82px 52px;
  position: relative;
}

.city-useful-list__item .item-header {
  color: var(--basic-black);
  margin-bottom: 25px;
}

.city-useful-list__item .item-content {
  color: var(--basic-dark-gray);
}

.city-useful-list__item--home {
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 60px;
}

.city-useful-list__item--eat {
  background-image: url(../img/eat.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 61px;
}

.city-useful-list__item--gift {
  background-image: url(../img/gift.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 55px;
}

.block-conteiner {
  z-index: 5;
  position: relative;
}

.interesting {
  text-align: center;
  min-height: 235px;
  position: relative;
  z-index: 5;
  background-color: var(--basic-white);
  padding-top: 1px;
}

.interesting__header {
  margin-top: 55px;
  font-weight: bold;
  font-size: var(--font-size-extra-big);
  line-height: 24px;
}

.interesting__content {
  margin-top: 32px;
  margin-bottom: 45px;
  font-weight: normal;
  line-height: 24px;
}

.interesting__search {
  background-color: var(--basic-brown);
  font-weight: bold;
  text-transform: inherit;
  font-size: var(--font-size-big);
  line-height: 26px;
  color: var(--basic-white);
  min-width: 568px;
  min-height: 86px;
  border: 0;
  cursor: pointer;
}

.interesting__search:hover,
.interesting__search:focus {
  background-color: var(--basic-dark-brown);
  outline: none;
}

.interesting__search:active {
  background-color: var(--basic-very-dark-brown);
  outline: none;
  color: var(--basic-big-opacity-white);
}

.search-form {
  font-weight: bold;
  position: absolute;
  width: 458px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: var(--basic-white);
  box-shadow: var(--form-shadow);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 41px 55px 55px 55px;
}

.search-form__item {
  position: relative;
  width: 458px;
  margin-top: 14px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__item input {
  width: 346px;
  height: 38px;
  box-sizing: border-box;
  border: none;
  padding: 13px 35px 13px 13px;
  text-transform: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: var(--basic-light-gray);
}

.search-form__item input::placeholder {
  color: inherit;
}

.search-form__item input:hover {
  background-color: var(--background-gray);
}

.search-form__item input:focus {
  background: var(--basic-white);
  outline: 2px solid var(--border-gray);
  outline-offset: -2px;
}

.search-form__calendar {
  position: absolute;
  padding: 0;
  border: 0;
  right: 9px;
  top: 8px;
  width: 21px;
  height: 23px;
  cursor: pointer;
}

.search-form__calendar-img {
  fill: var(--very-light-gray);
}

.search-form__calendar:hover path,
.search-form__calendar:focus path {
  fill: var(--basic-black);
}

.search-form__calendar:active path {
  fill: var(--basic-blue);
}

.search-form__item--left {
  width: 226px;
  margin-right: 0;
}

.search-form__item--right {
  width: 178px;
  margin-left: 53px;
}

.search-form__item input[type="number"] {
  width: 114px;
  padding: 6px 39px 6px 39px;
  height: 38px;
  text-align: center;
}


/* Для Chrome */

.search-form__item input[type=number]::-webkit-inner-spin-button,
.search-form__item input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


/* Для Firefox */

.search-form__item input[type=number] {
  -moz-appearance: textfield;
}

.search-form__input-btn {
  position: absolute;
  cursor: pointer;
  padding: 0;
  border: 0;
}

.search-form__input-btn--sub {
  content: "";
  width: 12px;
  height: 3px;
  right: 89px;
  top: 17px;
  background-color: var(--very-light-gray);
}

.search-form__input-btn:active {
  outline: none;
}

.search-form__input-btn--sub:hover,
.search-form__input-btn--sub:focus {
  background-color: var(--basic-black);
}

.search-form__input-btn--sub:active {
  background-color: var(--basic-blue);
}

.search-form__input-btn--add {
  right: 13px;
  top: 11px;
}

.search-form__input-btn--add path:hover,
.search-form__input-btn--add path:focus {
  fill: var(--basic-black);
}

.search-form__input-btn--add path:active {
  fill: var(--basic-blue);
}

.search-form__find {
  background-color: var(--basic-blue);
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 26px;
  text-transform: inherit;
  color: var(--basic-white);
  padding: 16px 0;
  text-align: center;
  width: 458px;
  border: 0;
  margin-top: 40px;
  cursor: pointer;
}

.search-form__find:hover,
.search-form__find:focus {
  background-color: var(--basic-dark-blue);
  outline: none;
}

.search-form__find:active {
  background-color: var(--basic-very-dark-blue);
  outline: none;
  color: var(--basic-big-opacity-white);
}

.map-and-form-container {
  position: relative;
}

.map {
  width: 100%;
  height: 473px;
  background-color: var(--basic-very-light-gray);
  background-image: url(../img/map.png);
}


/* Hotels. Main content*/

.substrate {
  background-color: var(--basic-blue);
  background-image: url(../img/hotels_filter_background.jpg);
}

.search {
  min-height: 166px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: var(--basic-white);
}

.search__block-item {
  border: 0;
  padding: 0;
  margin-right: 118px;
  margin-left: 0;
}

.search__block-item--coast-filter {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

.search__block-legend {
  font-size: 16px;
  font-weight: bold;
}

.search__input-checkbox-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 39px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.search__input-checkbox-label:last-child {
  margin-bottom: 10px;
}

.search__input-checkbox:focus+label {
  outline: 2px solid var(--basic-blue);
  outline-offset: 5px;
}

.search__input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -3px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox_off.svg);
  background-repeat: no-repeat;
}

.search__input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox_active.svg);
  background-repeat: no-repeat;
}

.search__input-checkbox:disabled+label::before {
  content: "";
  position: absolute;
  left: -46px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox_blocked.svg);
  background-repeat: no-repeat;
}

.search__input-checkbox:disabled:checked+label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -46px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox_active_blocked.svg);
  background-repeat: no-repeat;
}

.search__range-filter {
  margin-top: 16px;
}

.search__price-controls {
  display: flex;
  justify-content: center;
  min-width: 313px;
  border: 2px solid var(--basic-white);
}

.search__price-controls input {
  border: none;
  background-color: inherit;
  color: inherit;
}


/* Для Chrome */

.search__price-controls input[type=number]::-webkit-inner-spin-button,
.search__price-controls input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


/* Для Firefox */

.search__price-controls input[type=number] {
  -moz-appearance: textfield;
}

.search__min-price,
.search__max-price {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 22px;
}

.search__min-price {
  border-right: 2px solid var(--basic-white);
}

.search__min-price input,
.search__max-price input {
  width: 8px;
  padding: 0;
}

.search__max-price input {
  width: 30px;
}

.search__scale {
  width: 316px;
  height: 2px;
  background-color: var(--basic-big-opacity-white);
}

.search__bar {
  width: 256px;
  height: 2px;
  background: var(--basic-white);
}

.search__range-controls {
  position: relative;
  margin-top: 20px;
  margin-bottom: 33px;
}

.search__toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--filter-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--filter-opacity-gray);
  cursor: pointer;
}

.search__toggle:hover,
.search__toggle:focus {
  transform: scale(1.2);
}

.search__toggle--max {
  left: 252px;
}

.search__show-button {
  text-transform: inherit;
  min-width: 137px;
  min-height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  margin-right: 11px;
}

.search__show-button:hover,
.search__show-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.centering-content {
  padding: 28px 73px 23px 73px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.sorting {
  min-height: 86px;
  font-size: var(--font-size-small);
  line-height: 18px;
  color: var(--basic-black);
}

.sorting__name {
  margin-right: 24px;
  margin-left: 47px;
  margin-top: 5px;
}

.sorting__result-text {
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 26px;
  margin: 0;
}

.sorting a {
  margin-top: 5px;
  color: inherit;
  border-bottom: dashed;
  border-bottom-width: 1px;
  opacity: 0.3;
  border-color: var(--basic-blue);
}

.sorting a:hover,
.sorting a:focus {
  color: var(--basic-blue);
  opacity: 1;
}

.sorting a:active,
.sorting a:active {
  border-bottom: none;
  color: var(--basic-black);
  opacity: 1;
}

.sorting .sorting__pic-link {
  font-size: 14px;
  margin-top: 8px;
  border-bottom: none;
  color: var(--medium-gray);
  opacity: 1;
}

.sorting .sorting__pic-link:hover,
.sorting .sorting__pic-link:focus {
  border-bottom: none;
  color: var(--basic-black);
}

.sorting .sorting__pic-link:active {
  border-bottom: none;
  color: var(--basic-blue);
  opacity: 1;
}

.sorting__text-link {
  margin: 0 16px;
}

.sorting__pic-link--right {
  margin-left: auto;
  margin-right: 6px;
}

.sorting .sorting__text-link--active,
.sorting .sorting__pic-link--active {
  color: var(--basic-blue);
  opacity: 1;
  border-bottom: none;
}

.hotels-item {
  display: grid;
  grid-template-columns: 135px 258px auto 110px;
  grid-template-rows: min-content min-content;
  grid-gap: 0 29px;
  border-top: 1px solid var(--border-gray);
  padding: 24px 73px 28px 73px;
  position: relative;
}

.hotels-item:last-child {
  border-bottom: 1px solid var(--border-gray);
}

.hotels-item__name {
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 26px;
  color: var(--basic-black);
  margin: 0;
}

.hotels-item__name:hover,
.hotels-item__name:focus {
  color: var(--basic-blue);
}

.hotels-item__name:active {
  color: var(--basic-opacity-black);
}

.hotels-item__info-block {
  grid-column: 2;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: auto min-content;
  grid-gap: 6px;
  justify-items: start;
}

.hotels-item__type {
  line-height: 21px;
  color: var(--basic-dark-gray);
}

.hotels-item__price {
  margin-top: 3px;
}

.hotels-item__link:nth-child(2) {
  order: -1;
  grid-row: 1/4;
  grid-column: 1;
  margin-top: 6px;
}

.hotels-item__detail {
  padding: 6.5px 17px;
  background-color: var(--basic-blue);
  font-weight: bold;
  color: var(--basic-white);
  display: inline-block;
  vertical-align: top;
  text-align: center
}

.hotels-item__detail:hover,
.hotels-item__detail:focus {
  background-color: var(--basic-dark-blue);
}

.hotels-item__detail:active {
  background-color: var(--basic-very-dark-blue);
  color: var(--basic-big-opacity-white);
}

.hotels-item__reserv {
  padding: 6.5px 17px;
  background-color: var(--basic-brown);
  font-weight: bold;
  color: var(--basic-white);
  display: inline-block;
  vertical-align: top;
  text-align: center
}

.hotels-item__reserv:hover,
.hotels-item__reserv:focus {
  background-color: var(--basic-dark-brown);
}

.hotels-item__reserv:active {
  background-color: var(--basic-very-dark-brown);
  color: var(--basic-big-opacity-white);
}

.hotels-item__detail,
.hotels-item__reserv {
  margin-bottom: 2px;
}

.hotels-item__rating {
  background-color: var(--basic-light-gray);
  color: var(--brown);
  display: inline-block;
  vertical-align: top;
  text-align: center;
  grid-column: 4;
  grid-row: 1/4;
  align-self: self-end;
  padding: 6px 12px 7px 15px;
  margin-bottom: 2px;
}

.for_star:before,
.three_star::before,
.two_star::before {
  content: "";
  position: absolute;
  bottom: 85px;
  transform: translate(-50%, 50%);
  height: 72px;
  background-image: url(../img/star.svg);
  background-repeat: space no-repeat;
}

.for_star:before {
  right: 27px;
  min-width: 90px;
}

.three_star::before {
  bottom: 86px;
  right: 35px;
  min-width: 68px;
}

.two_star::before {
  right: 50px;
  min-width: 42px;
}


/* Footer */

.main-footer {
  max-width: 1200px;
  height: 120px;
  background-color: var(--basic-opacity-white);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.contacts {
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 36px;
  margin-top: 10px;
  margin-left: 123px;
  color: var(--basic-black);
}

.contacts__link {
  color: var(--basic-black);
  display: block;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin-right: 14px;
  padding: 0;
  list-style: none;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--basic-dark-blue);
}

.social-list__link:active {
  background-color: var(--basic-very-dark-blue);
}

.social-list__link:active path {
  fill: var(--basic-big-opacity-white);
}

.developer {
  line-height: 26px;
  display: flex;
  align-items: center;
  min-width: 197px;
  justify-content: space-between;
  margin-right: 138px;
  margin-top: 19px;
}

.developer__logo {
  fill: var(--black);
}

.developer__link:hover .developer__logo {
  fill: var(--basic-blue);
}

.developer__link:focus .developer__logo {
  fill: var(--basic-blue);
}

.developer__link:active .developer__logo {
  fill: var(--light-gray);
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(-100%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.search-form--show {
  animation: bounce 3s;
}
