:root {
  /* Цвета */
  --basic-white: #ffffff;
  --basic-light-gray: #F2F2F2;
  --basic-gray: #888888;
  --light-gray: #BDBBBC;
  --medium-gray: #CACACA;
  --basic-very-light-gray: #EEEEEE;
  --basic-dark-gray: #333333;
  --basic-black: #000000;
  --black: #231F20;
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-very-dark-blue: #5496BD;
  --basic-opacity-black: rgba(0, 0, 0, 0.3);
  --basic-opacity-white: rgba(255, 255, 255, 0.9);
  --basic-big-opacity-white: rgba(255, 255, 255, 0.3);
  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --brown: #666666;
  --basic-very-dark-brown: #503E33;
  --main-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  /* Шрифты */
  --font-family-basic: 'PT Sans', sans-serif;
  --font-size-small: 12px;
  --font-size-main: 14px;
  --font-size-big: 21px;
  --font-size-extra-big: 30px;
}

.page-body {
  background-color: var(--basic-light-gray);
  font-family: var(--font-family-basic);
  font-style: normal;
  font-size: var(--font-size-main);
  line-height: 1em;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
}

.page-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--main-shadow);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header-for-robots-and-readers {
  display: none;
}


/* Main navigation */

.main-navigation {
  width: 1200px;
  background-color: var(--basic-white);
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  list-style: none;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation__item {
  padding: 15px 72px;
  min-width: 100px;
  max-width: 180px;
}

.site-navigation__item:nth-child(3) {
  margin-left: auto;
}

.site-navigation__link {
  color: var(--basic-black);
}

.site-navigation__link_current {
  color: var(--basic-brown);
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: var(--basic-blue);
}

.site-navigation__link:active {
  color: var(--basic-opacity-black);
}


/* Main content */

.poster {
  background-color: var(--medium-gray);
  background-image: url(../img/sedona.jpg);
  text-align: center;
  height: 509px;
}

.description {
  text-align: center;
  padding: 42px 72px 51px 72px;
}

.description__header {
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 26px;
  max-width: 470px;
  text-align: center;
  display: inline-block;
}

.description__content {
  line-height: 26px;
}

.reasons-list,
.city-useful-list {
  list-style: none;
}

.reasons-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.reasons-list li:nth-of-type(1),
.reasons-list li:nth-of-type(2) {
  grid-column: 1 / -1;
}

.item-header {
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 21px;
}

.item-content,
.item-number {
  line-height: 21px;
}

.reasons-list__item--left,
.reasons-list__item--right {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.reasons-list__item--gray {
  background-color: var(--basic-very-light-gray)
}

.city-useful-list {
  background-color: var(--basic-white);
}

.city-useful-list__item .item-header {
  color: var(--basic-black);
}

.city-useful-list__item .item-content {
  color: var(--basic-dark-gray);
}

.interesting__header {
  font-weight: bold;
  font-size: var(--font-size-extra-big);
  line-height: 24px;
}

.interesting__content {
  font-weight: normal;
  line-height: 21px;
}

.interesting__search {
  background-color: var(--basic-brown);
  font-weight: bold;
  text-transform: inherit;
  font-size: var(--font-size-big);
  line-height: 26px;
  color: var(--basic-white);
  padding: 30px 139.5px;
  border: 0;
}

.interesting__search:hover,
.interesting__search:focus {
  background-color: var(--basic-dark-brown);
  outline: none;
}

.interesting__search:active {
  background-color: var(--basic-very-dark-brown);
  outline: none;
  color: var(--basic-big-opacity-white);
}

.interesting-form__find {
  background-color: var(--basic-blue);
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 26px;
  text-transform: inherit;
  color: var(--basic-white);
  padding: 16px 196px;
  border: 0;
}

.interesting-form__find:hover,
.interesting-form__find:focus {
  background-color: var(--basic-dark-blue);
  outline: none;
}

.interesting-form__find:active {
  background-color: var(--basic-very-dark-blue);
  outline: none;
  color: var(--basic-big-opacity-white);
}

.map-container {
  background-color: var(--basic-very-light-gray);
  background-image: url(../img/map.jpg);
}

.map {
  width: 100%;
  height: 473px;
}


/* Hotels. Main content*/

.search__show-button {
  text-transform: inherit;
}

.sorting {
  font-size: var(--font-size-small);
  line-height: 18px;
  color: var(--basic-black);
}

.sorting__result-text {
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 26px;
}

.sorting a {
  color: inherit;
  border-bottom: dashed;
  border-bottom-width: 1px;
  opacity: 0.3;
  border-color: var(--basic-blue);
}

.sorting a:hover,
.sorting a:focus {
  color: var(--basic-blue);
  opacity: 1;
}

.sorting a:active,
.sorting a:active {
  border-bottom: none;
  color: var(--basic-black);
  opacity: 1;
}

.sorting .sorting__pic-link {
  border-bottom: none;
  color: var(--medium-gray);
  opacity: 1;
}

.sorting .sorting__pic-link:hover,
.sorting .sorting__pic-link:focus {
  border-bottom: none;
  color: var(--basic-black);
}

.sorting .sorting__pic-link:active {
  border-bottom: none;
  color: var(--basic-blue);
  opacity: 1;
}

.sorting .sorting__text-link_active,
.sorting .sorting__pic-link_active {
  color: var(--basic-blue);
  opacity: 1;
  border-bottom: none;
}

.hotels-item__name {
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 26px;
  color: var(--basic-black);
}

.hotels-item__type {
  line-height: 21px;
  color: var(--basic-dark-gray);
}

.hotels-item__detail {
  padding: 6.5px 17px;
  background-color: var(--basic-blue);
  font-weight: bold;
  color: var(--basic-white);
  display: inline-block;
  text-align: center
}

.hotels-item__detail:hover,
.hotels-item__detail:focus {
  background-color: var(--basic-dark-blue);
}

.hotels-item__detail:active {
  background-color: var(--basic-very-dark-blue);
  color: var(--basic-big-opacity-white);
}

.hotels-item__reserv {
  padding: 6.5px 17px;
  background-color: var(--basic-brown);
  font-weight: bold;
  color: var(--basic-white);
  display: inline-block;
  text-align: center
}

.hotels-item__reserv:hover,
.hotels-item__reserv:focus {
  background-color: var(--basic-dark-brown);
}

.hotels-item__reserv:active {
  background-color: var(--basic-very-dark-brown);
  color: var(--basic-big-opacity-white);
}

.hotels-item__rating {
  padding: 6.5px 14px;
  background-color: var(--basic-light-gray);
  color: var(--brown);
  display: inline-block;
  text-align: center;
}


/* Footer */

.main-footer {
  width: 1200px;
  height: 120px;
  background-color: var(--basic-opacity-white);
}

.contacts {
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 26px;
  color: var(--basic-black);
}

.contacts__link {
  color: var(--basic-black);
}

.social-list {
  list-style: none;
}

.social-list__link {
  background-color: var(--basic-blue);
}

.developer {
  line-height: 26px;
}

.developer__logo {
  fill: var(--black);
}

.developer__link:hover .developer__logo {
  fill: var(--basic-blue);
}

.developer__link:focus .developer__logo {
  fill: var(--basic-blue);
}

.developer__link:active .developer__logo {
  fill: var(--light-gray);
}
